<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <h1 class="intro important">About</h1>
    <article class="lp-resource-case-study">
        <h2 class="lp-resource-case-study__title">
            Generate strong, random passwords
        </h2>
        <section class="lp-resource-case-study__content">
            <div>
                <p class="large">Passwords are a real security threat.Over 80% of hacking-related breaches are due to
                    weak
                    or stolen passwords, a recent report shows . So if you want to safeguard your personal info and
                    assets,
                    creating secure passwords is a big first step. And that’s where the LastPass Password Generator can
                    help.
                    Impossible-to-crack passwords are complex with multiple types of characters (numbers, letters, and
                    symbols). Making your passwords different for each website or app also helps defend against hacking.
                    This password generator tool runs locally on your Windows, Mac or Linux computer, as well as your
                    iOS or
                    Android device. The passwords you generate are never sent across the web.</p>
                <h4>The best password tips from the pros</h4>
                <ol class="large">
                    <li>Always use a unique password for each account you create. The danger with reusing passwords is
                        that
                        as soon as one site has a security issue, it‘s very easy for hackers to try the same username
                        and
                        password combination on other websites.</li>
                    <li>Don’t use any personally identifiable information in your passwords. Names, birthdays, and
                        street
                        addresses may be easy to remember but they’re also easily found online and should always be
                        avoided
                        in passwords to ensure the greatest strength.</li>
                    <li>Make sure your passwords are at least 12 characters long and contain letters, numbers, and
                        special
                        characters. Some people prefer to generate passwords which are 14 or 20 characters in length.
                    </li>
                    <li>If you’re creating a master password that you’ll need to remember, try using phrases or lyrics
                        from
                        your favorite movie or song. Just add random characters, but don't replace them in easy
                        patterns.
                    </li>
                    <li>Use a password manager like LastPass to save your passwords. We keep your information protected
                        from
                        attacks or snooping.</li>
                    <li>Avoid weak, commonly used passwords like asd123, password1, or Temp!. Some examples of a strong
                        password include: S&amp;2x4S12nLS1*, JANa@sx3l2&amp;s$, 49915w5$oYmH.</li>
                    <li>Avoid using personal information for your security questions, instead, use LastPass to generate
                        another “password" and store it as the answer to these questions. The reason? Some of this
                        information, like the name of the street you grew up on or your mother’s maiden name, is easily
                        found by hackers and can be used in a brute-force attack to gain access to your accounts.</li>
                    <li>Avoid using similar passwords that change only a single word or character. This practice weakens
                        your account security across multiple sites.</li>
                    <li>Change your passwords when you have reason to , such as after you've shared them with someone,
                        after
                        a website has had a breach, or if it's been over a year since you last rotated it.</li>
                    <li>You should never share your passwords via email or text message. The secure way to share is with
                        a
                        tool like LastPass that gives you the ability to share a hidden password and even revoke access
                        when
                        the time comes.</li>
                </ol>
                <h4>Why you need a built-in password generator</h4>
                <p class="large">Simplify your digital life with a strong password generator that’s built into your
                    browser
                    or an app on your phone. LastPass can create secure passwords right as you sign up – and then
                    remember
                    them all for you. See how LastPass works
            </div>
        </section>
    </article>
    <style>
        h1.intro {
            color: blue;
            text-align: center;
        }

        .important {
            background-color: yellow;
        }
    </style>
</body>

</html>